body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: white;
    position: static;
    background-image: linear-gradient(to bottom right, #38A2D7, #561139);
    text-align: center;
    height: 100%;
}

header {
    background: linear-gradient(to right, #e75e17, #a90307);
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background: radial-gradient(circle, rgb(12, 2, 202) 0%,
    rgb(26, 150, 19) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s ease;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

nav li:hover {
    background-color: #b90307;
}

header h1 {
    font-size: 45px;
    font-weight: bold;
    margin: 5px;
}

.home_page {
    font-size: 18px;
    margin-bottom: 20px;
    height: 550px;
}

.home_page h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.home_page h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.home_page p {
    margin-bottom: 10px;
}

.home_page a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #e20505;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.home_page a:hover {
    background-color: #0aad0a;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container h1 {
    text-align: center;
}

.form-container {
    flex-basis: 50%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
}

.image-box img {
    width: 100%;
    height: auto;
    flex-basis: 50%;
}

.image-box {
    display: inline-block;
    width: 600px;
    height: 500px;
    margin: 20px;
    text-align: center;
}

.decoded-text {
    flex-basis: 50%;
    margin: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 20px;
    flex-basis: 50%;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

input[type="file"],
input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    cursor: pointer;
}
