<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <h1>Steganography Tool</h1>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('encode') }}">Encode</a>
            </li>
            <li>
                <a href="{{ url_for('index') }}">Home</a>
            </li>
            <li>
                <a href="{{ url_for('decode') }}">Decode</a>
            </li>
        </ul>
    </nav>
</header>
{% block body %}{% endblock %}
</body>
</html>